[Unit]
Description=Tilt Hydrometer reporter
After=multi-user.target

[Service]
Type=idle
Environment=PYTILT_URL=http://10.0.0.36:8080
Environment=PYTILT_KEY=YOUR_KEY
ExecStart=/usr/bin/python /home/atlefren/pytilt/pytilt.py > /home/atlefren/pytilt.log 2>&1

[Install]
WantedBy=multi-user.target